.menu {
    display: flex;
    gap: 20px;
    background: #f5f5f5;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.link {
    text-decoration: none;
    font-weight: 600;
    color: #333;
    height: 45px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 0 0 5px #232222;
    text-align: center;
    line-height: 45px;
}


.link:hover{
    box-shadow: 0 0 10px #232222;
    scale: 1.01;
}